:root {

    /* Colors */

    --primary-color: #985eff;
    /* primary-color buttons and visual aspect
        /* --black: rgb(27, 27, 27); */
    --second-color: #121212;
    /*second-color contrast of primary color*/
    --link-color: #B494FF;
    /* color of links */
    --white: #fff;
    /*text tag P*/
    --soft-white: #f5f5f5;
    /*text and some titles*/
    --soft-light: #aaa;
    /*soft-light sub titles */
    --soft-bg: #292929;
    /*soft-bg /* constrast of bg */
    --red: #C71729;
    --buyBtn: #adff2f;
    --gold: #FFD700;
    --wa: #25d366;
    /*WhatsApp color */
    --tg: #24A1DE;
    /*Telegram color */



    --rgb: linear-gradient(45deg,
            #e6fb04,
            #ff6600,
            #00ff66,
            #00ffff,
            #ff00ff,
            #ff0099,
            #6e0dd0,
            #ff3300,
            #099fff);



}



/* Rgb effect */

.glow {
    position: relative;
    margin: 1rem;
    display: flex;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding: 4px;
}



.glow::before,
.glow::after {

    content: '';
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    /* margin-top: 2rem; */
    background: var(--rgb);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(10% + .2rem);
    z-index: -2;
    animation: animate 20s linear infinite;

}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(6px);

}