@import url(/src/styles/global/imports.css);

* {
    font-family: "Nunito", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: var(--second-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
    }
}

body {
    background: var(--second-color);

}

section {
    padding: 5rem 9%;
}


/* .spacer {
    padding-top: 5rem;
} */














.banner {
    /* background: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)), url(/src/assets/img/pages/index/Banner_solucoes1-1.jpg) no-repeat; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url(/src/assets/img/pages/ofertas/bannerPromo.avif) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: relative; */
    text-align: center;
    padding-top: 6rem !important;


    span {
        font-size: 3rem;
        font-weight: 500;
        color: var(--primary-color);
    }

    h3 {
        padding-top: 1rem;
        color: var(--white);
        text-transform: uppercase;
        font-size: 4rem;
    }

    p {
        margin: 1rem auto;
        max-width: 60rem;
        font-size: 1.9rem;
        font-weight: 500;
        color: var(--white);
        line-height: 2;
    }
}






/* Product card  */

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    max-width: 1400px;
    /* row-gap: 3rem;  */
    justify-content: center;
    padding: 0 15px;
    gap: 30px;
    cursor: pointer;
}

.product-container .product-card {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    min-width: 200px;
    max-width: 300px;
    margin: 15px;
    position: relative;
    background: var(--soft-bg);
    box-shadow: 0px 0px 15px .1rem var(--second-color);
    transition: ease .3s;
    /* border-radius: 1rem; */
    height: auto !important;

    &:hover {
        transform: translateY(-5px);
    }

    & > a { 
        display: flex;
        flex-direction: column;
        height: 100%; 
        justify-content: space-between; 
        text-decoration: none; 
    }

    .badge {
        position: absolute;
        left: 0;
        top: 15px;
        float: bottom;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        background: linear-gradient(130deg, var(--red) 93%, transparent 90%);
        color: var(--white);
        padding: 3px 10px;
    }

    .product-tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        padding: 30px;
        background: var(--white);
        /* border-radius: 0.5rem 0.5rem 0 0; */

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    .product-details {
        padding: 7px 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .product-catagory {
            display: block;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--soft-light);
            margin-bottom: 5px;
        }

        h4 {
            font-size: 1.5rem;
            display: block;
            text-transform: uppercase;
            color: var(--white);
            text-decoration: none;
            transition: 0.3s;
            flex-grow: 1;

            &:hover {
                color: var(--primary-color);
            }
        }

        p {
            /* flex-grow: 1; */
            font-size: 15px;
            line-height: 20px;
            margin: 0.5rem 0;
            color: var(--white);
        }

        .product-bottom-details {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;


            .product-price {
                white-space: nowrap;
                font-size: 2.5rem;
                color: var(--white);
                font-weight: 750;
            }

            .product-price small {
                font-size: 80%;
                font-weight: 750;
                display: inline-block;
                margin-right: 5px;
            }

            .product-links {
                text-align: right;

                a {
                    /* display: inline-block; */
                    margin-left: 5px;
                    color: #e1e1e1;
                    transition: 0.3s;
                    font-size: 17px;

                    &:hover {
                        color: #fbb72c;
                    }
                }

                i {
                    color: var(--gold);
                    font-size: 1.4rem;
                    line-height: 42px;
                }
            }
        }
    }


    .product-details .rgb-divider {
        position: relative;
        width: 100%;       
        height: 10px;      
        margin: 1rem 0;  
        display: flex;     
        justify-content: center; 
        align-items: center;     
        overflow: hidden;
        border-radius: 70%;
    }
    
    .product-details .rgb-divider::before,
    .product-details .rgb-divider::after {
        content: '';
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        background: var(--rgb); 
        background-size: 850%; 
        width: calc(100% + 10px);
        height: 0.2rem;          
        border-radius: 50%;      
        z-index: 1; 
        animation: rgb-line-animate 35s linear infinite !important;
    }
    
    /* Efeito de blur */
    .product-details .rgb-divider::after {
        filter: blur(3px); 
        z-index: 0;       
        animation: rgb-line-animate 20s linear infinite; 
    }
    
}

@keyframes rgb-line-animate {
    0% {
        background-position: 0 50;
    }
    50% {
        background-position: 400% 0%;
    }
    100% {
        background-position: 0 0;
    }
}



.product-container .buyBtn {

    display: flex;
    background: var(--primary-color);
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    /* border-radius: 0 0 1rem 1rem; */

    &:hover {
        background: var(--red);
    }

    h4 {
        display: block;
        margin: auto;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white);
    }
}













/* media queries */



@media (min-width: 768px) and (max-width: 1453px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .product-container {
        max-width: 95%;
        margin-bottom: 30rem;

    }

}




@media (max-width: 768px) {

    section {
        padding: 3rem 1rem !important;
    }

    .product-container {
        max-width: 100%;
        padding: 0 5px;
        row-gap: 2rem;
        margin-bottom: 30rem;
        justify-content: center;
    }

    .product-container .product-card {
        flex-basis: 250px;
        margin: 15px auto; 
        max-width: 400px;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}